.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.question-box {
  text-align: center;
}

.question-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.question-list li {
  border: 2px solid powderblue;
  margin: 10px;
  width: 250px;
}

.link-show {
  border: 2px solid palegoldenrod;
  width: 150px;
  margin: 40px;
}

.option-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.option-list li {
  border: 2px solid powderblue;
  margin: 10px;
  width: 350px;
}
.option-list li p {
  border: 2px solid palegreen;
  text-align: left;
}

.userStat {
  width: 90%;
  margin: 40px;
}

.userStat td {
  border: 1px solid black;
  width: 500px;
}


